:root {
  --purple: rgb(145, 92, 158);
}

body,
input,
textarea,
select,
button {
  font: 400 16px 'Roboto', sans-serif;
  color: #fff;
  background-color: #3a3946;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


